<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="acter-jquery.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<head>
    <title>Role Play Game</title>
    <link rel="stylesheet" href="rpg.css"/>
</head>
<body>
<div>
    <h1>Role Play Game</h1>
    <div class="tab">
        <button id = "tabActers">Acters</button>
        <button id = "tabGames">Games</button>
    </div>
    <div id = "Acters" class = "tabTable">
        <h2>Acters</h2>
        <table id = "acter-table">
            <tr>
                <th>ID</th>
                <th>Class Name</th>
                <th>Name</th>
                <th>Attack</th>
                <th>Defence</th>
                <th>Initiative</th>
                <th>Main</th>
                <th>RoleClass</th>
                <th>Health Points</th>
            </tr>
        </table>
    </div>

    <div id = "Games" class = "tabTable">
            <h2>Games</h2>
            <table id = "game-table">
                <tr>
                    <th>ID</th>
                    <th>Result</th>
                    <th>Total Rounds</th>
                </tr>
            </table>
        </div>
</div>
</body>
</html>